.login-container {
	position: fixed;
	top: 0%;
	height: 100vh;
	right: -100%;
	padding: 40px;
	border-radius: 0px;
	background-color: #FFFFFF;
	box-shadow: 0 4px 12px rgba(22, 66, 60, 0.15); /* Subtle shadow */
	max-width: 450px;
	width: 50%;
	align-content: ccenter;
	text-align: center;
	transition: .75s ease-out;
	z-index: 1002;
}

.popup-close {
	float: left;
	cursor: pointer;
	font-size: 25px;
	font-weight: bold;
	color: #333;
}

/* Form heading */
.login-container h2 {
	font-size: 28px;
	text-align: left;
	margin-top: 50px;
	margin-bottom: 40px;
	color: #800080; 
}

/* Input fields */
.input-group {
	display: flex;
	align-items: center;
	background: #eaeaea;
	margin: 15px 0;
	border-radius: 3px;
}
.input-group input {
	width: 100%;
	padding: 12px;
	border: 0;
	outline: 0;
	font-size: 16px;
	color: #16423C; /* Dark green text */
	background-color: transparent;
	padding: 1.8em, 1em;
	transition: border-color 0.3s ease;
}

.input-group svg {
	margin-left: 1em;
}

.input-group input:focus {
	border-color: #48CFCB;
	outline: none;
}

.button-group {
	display: flex;
	align-content: center;
    margin-top: 20px;
    gap: 2em;
}

.btn {
    width: 100%;
    padding: 12px;
    background-color: #800080; 
    border: none;
    border-radius: 8px;
    font-size: 18px;
    color: #F5F5F5; /* White text */
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn.btnsignup{
	color: #0c0c0c;
	background-color: #d2d2d2;
}


.btn.signIn:hover {
 	background-color: #bf40bf;
  	color: #F5F5F5;
    transform: scale(1.02);
}

/* Sign up section */
.signup-link {
	margin-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.signup-link p {
	color: #16423C; /* Dark green text */
	font-size: 14px;
}


.login-container.show {
	right: 0; /* Slide into view */
}
.hide{
	margin-right: 1em;
	display: none;
}
.show{
	margin-right: 1em;
}